.title {
  font-variation-settings: 'wght' calc(100 + (1 - var(--distance)) * 800);
  letter-spacing: calc((var(--distance)) * 0.3em);
}

.grid {
  background: black;
  background-image: linear-gradient(rgba(255, 255, 255, .08) .1em, transparent 1px), linear-gradient(90deg, rgba(255, 255, 255, .08) 1px, transparent .1em);
  background-size: 3em 3em;
  background-position: center center;
}